html {
    font-family: "Adobe Garamond Pro" serif;
    font-size: 40px;
    padding: 15%;
    background-color: darksalmon;
    color: darkgreen;
}

a {
    background-color: lightslategray;
    font-size: 40px;
}

#mentors {
    background-color: darkorange;
}

#names {
    padding: 20%;
}