{% extends "layout.html" %}

{% block content %}

    <form action="/update-applicant/{{ id }}" method="POST">
        <input type="text" name="first_name" value="{{ applicant.first_name }}" >First name<br>
        <input type="text" name="last_name" value="{{ applicant.last_name }}">Last name<br>
        <input type="text" name="phone_number" value="{{ applicant.phone_number }}">Phone<br>
        <input type="text" name="email" value="{{ applicant.email }}" >Email<br>
        <input type="Submit" value="Update" class="button" ><br>
    <br>
    </form>


    {% include 'footer.html' %}
{% endblock %}